/* px */

img {
    width: 150px;
}

/* em */

/* 1em ( 100% of the containing element) */

p{
    font-size: 2em; /*1em = 16px */
}

/* pt  */

p {
    font-size: 27pt;
}

/* % - Percentage */

p {
    font-size: 70%;
}